.PostCard {
  width: min(100%, 384px);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  padding: var(--spacing-200);
  background: var(--color-white);
  border: 1px solid var(--color-gray-950);
  border-radius: 20px;
  box-shadow: var(--spacing-100) var(--spacing-100) 0 var(--color-gray-950);
}

.PostCard__Illustration {
  width: 100%;
  height: 200px;
  display: block;
  border-radius: 10px;
  object-fit: cover;
}

.PostCard__Content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
}

.PostCard__Category {
  width: fit-content;
  padding: var(--spacing-50) var(--spacing-150);
  color: var(--color-gray-950);
  background: var(--color-yellow);
  border-radius: var(--spacing-50);
}

.PostCard__Published {
  color: var(--color-gray-950);
}

.PostCard__Title {
  color: var(--color-gray-950);
  cursor: pointer;
  transition: color 150ms ease;
}

.PostCard__Description {
  color: var(--color-gray-500);
}

.PostCard__Author {
  display: flex;
  align-items: center;
  gap: var(--spacing-150);
  color: var(--color-gray-950);
}

.PostCard__Avatar {
  flex: 0 0 auto;
  border-radius: 50%;
}

@media (hover: hover) and (pointer: fine) {
  .PostCard__Title:hover {
    color: var(--color-yellow);
  }
}

@media (max-width: 600px) {
  .PostCard {
    max-width: 327px;
  }

  .PostCard__Category,
  .PostCard__Published {
    font-size: 12px;
  }

  .PostCard__Title {
    font-size: 20px;
  }

  .PostCard__Description {
    font-size: 14px;
  }
}
